<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901776565729-qt12gqt0hub1s1obegjjdll6hfe99he8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901776565729-qt12gqt0hub1s1obegjjdll6hfe99he8</string>
	<key>API_KEY</key>
	<string>AIzaSyA0DTld0aYYymRF5L6iYuHLLxvb35UVU8o</string>
	<key>GCM_SENDER_ID</key>
	<string>901776565729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Je-re-my-Perez.TwitterCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-2accb</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-2accb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901776565729:ios:adcfb078fcdaba6ae5dea0</string>
</dict>
</plist>